<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Miconexion" connectionString="Data Source=BRYAN\\BRYANBD ;integrated security=true ;initial catalog=examen3;encrypt=false"/>
	</connectionStrings>
	<appSettings>
		<add key="WebSocketHost" value="localhost"/>
		<add key="WebSocketHost" value="5000"/>
		
	</appSettings>
</configuration>